In [1]:
import pandas as pd

In [5]:
# Csv file to load
LAParkingCitationData=pd.read_csv("Data/LAPsampledata.csv")
LAParkingCitationData.head()

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,4297600543,2016-11-06T00:00:00,746.0,NaN,NaN,CA,201612.0,NaN,CHEV,PA,GY,3760 LOCKLAND DR,00541,55.0,22514,FIRE HYDRANT,68.0,6.458590e+06,1.825754e+06
1,4351910846,2019-04-02T00:00:00,1803.0,NaN,NaN,CA,201912.0,NaN,HOND,PA,GY,1101 VERMONT AVE S,00500,55.0,80.69AP+,NO STOP/STANDING,93.0,6.473334e+06,1.841038e+06
2,4304968275,2017-03-16T00:00:00,1904.0,NaN,NaN,CA,201706.0,NaN,FORD,PA,RD,12561 COMETA AVE,00319,53.0,22514,FIRE HYDRANT,68.0,6.433510e+06,1.931088e+06
3,4295311462,2016-10-27T00:00:00,1359.0,NaN,NaN,CA,201708.0,NaN,NISS,PA,GY,1730 51ST PL W,00544,55.0,22500F,PARKED ON SIDEWALK,68.0,6.468503e+06,1.821062e+06
4,4278878494,2016-03-18T00:00:00,2309.0,NaN,NaN,CA,NaN,NaN,INFI,PA,GY,810 GAFFEY ST S,500,55.0,80.71.4,PRIVATE PROPERTY,68.0,6.472782e+06,1.726782e+06

In [10]:
LAParkingCitationData=LAParkingCitationData.drop(['Meter Id','Marked Time','Plate Expiry Date','VIN','Route','Agency'],axis=1)

In [11]:
LADf=LAParkingCitationData.head(100)

In [13]:
LADf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
Ticket number            100 non-null int64
Issue Date               100 non-null object
Issue time               100 non-null float64
RP State Plate           100 non-null object
Make                     100 non-null object
Body Style               100 non-null object
Color                    100 non-null object
Location                 100 non-null object
Violation code           100 non-null object
Violation Description    100 non-null object
Fine amount              100 non-null float64
Latitude                 100 non-null float64
Longitude                100 non-null float64
dtypes: float64(4), int64(1), object(8)
memory usage: 10.2+ KB

In [14]:
LADf.to_html("LAData.html")